@page "/crm/contacts"
@using  global::Crm.Application.CRM
@using  global::Crm.Application.Permissions
@using global::Crm.Application.CRM.DTOs
@inject IContactService ContactsSvc
@inject global::Crm.Application.Common.ICurrentUser CurrentUser
@inject global::Crm.Application.Permissions.IPermissionService PermissionService
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<h3>Contacts</h3>

@if (!_canViewContacts)
{
    <p>Not authorized.</p>
    return;
}

@if (_canCreateContacts)
{
    <p><a class="btn btn-primary" href="/crm/contacts/new">New Contact</a></p>
}

@if (_rows is null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
        <tr><th>Name</th><th>Email</th><th>Phone</th></tr>
        </thead>
        <tbody>
        @foreach (var c in _rows)
        {
            <tr>
                <td><a href="/crm/contacts/@c.Id">@c.LastName, @c.FirstName</a></td>
                <td>@c.Email</td>
                <td>@c.Phone</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    private IReadOnlyList<ContactDto>? _rows;
    private bool _canCreateContacts;
    private bool _canViewContacts;


    protected override async Task OnInitializedAsync()
    {
        if (!CurrentUser.IsAuthenticated || string.IsNullOrWhiteSpace(CurrentUser.UserId))
            return;

        var userId = CurrentUser.UserId;



        _canCreateContacts = await PermissionService.HasPermissionAsync(CurrentUser.UserId!, PermissionKeys.Crm.ContactCreate);
        _canViewContacts = await PermissionService.HasPermissionAsync(userId, PermissionKeys.Crm.ContactView);

        _rows = await ContactsSvc.GetContactsAsync(CurrentUser.UserId!);
    }
}